<form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="form">
  <!-- ATLASSIAN CREDS -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Atlassian</mat-panel-title>
        <mat-panel-description>Your Atlassian Credentials and Project</mat-panel-description>
      </mat-expansion-panel-header>
      <app-atlassian-creds [group]="myForm"></app-atlassian-creds>
      <app-project [group]="myForm" [choices]="projectChoices"></app-project>
    </mat-expansion-panel>
  </mat-accordion>
  
  <!-- REPORT TYPE -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Report</mat-panel-title>
        <mat-panel-description>Report Type and Configuration</mat-panel-description>
      </mat-expansion-panel-header>
      <app-dropdown
      [group]="myForm" 
      [choices]="reportTypes" 
      [control]="'reportType'" 
      text="Report Action">
      </app-dropdown>
      <app-dropdown 
        [group]="myForm" 
        [choices]="demoSheetActions" 
        control="demoReportAction" 
        text="Report Action"
        *ngIf="isDemoAction()"></app-dropdown>
        <ng-container *ngIf="isUpdateDemo()">
          <app-input-default
            [group]="myForm"
            control="keyIndex"
            text="Key Index Column"
            hint="test hint"
            defaultValue="C"></app-input-default>
          <app-input-default
            [group]="myForm"
            control="exceptions"
            text="Columns to Exclude"
            hint="test hint"
            defaultValue="H, I"></app-input-default>
        </ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- GOOGLE SHEET CONFIG -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Google Sheets</mat-panel-title>
        <mat-panel-description>Google Sheets Configuration</mat-panel-description>
      </mat-expansion-panel-header>
      <app-input-default
        [group]="myForm"
        control="sheetKey"
        text="GSheets Key or URL"
        hint="test hint"></app-input-default>
      <app-input-default
        *ngIf="isDemoAction()"
        [group]="myForm"
        control="demoSheet"
        text="Demo Sheet Tab Name"
        hint="test hint"
        defaultValue="Sheet1"></app-input-default>
      <app-input-default
        *ngIf="isPlanItPokerAction()"
        [group]="myForm"
        control="planItPoker"
        text="PlanITPoker Tab Name"
        hint="test hint"
        defaultValue="Sheet2"></app-input-default>
    </mat-expansion-panel>
  </mat-accordion>
</form>
  
{{ myForm.valid }}