<ng-container [formGroup]="group">
  <mat-form-field>
    <input 
      matInput 
      type="text" 
      placeholder="Username" 
      name="username" 
      formControlName="username"/>
    <mat-error *ngIf="group.get('username').touched && group.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput 
      type="password" 
      placeholder="Password" 
      name="password" 
      formControlName="password"/>
    <mat-error *ngIf="group.get('password').touched && group.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</ng-container>